/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Estilos para el contenedor principal */
#app {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Estilos para el formulario */
form {
display: flex;
justify-content: space-between;
}
/* Estilos al input */
input {
    width: 75%;
    padding: 8px;
    margin-right: 10px;
    border: 1px solid #ddd;
    border-radius: 3px;
}
/* Estilos al botón */
button {
    padding: 5px 8px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}
/* Estilos para la lista */
ul {
    list-style: none;
    padding: 0;
}
/* Estilos para el elemento de la lista*/
li {
    background-color: #f4f4f4;
    padding: 10px;
    border: 1px solid #ddd;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* Estilos para el elemento compketado de la lista*/
li.completed {
    text-decoration: line-through;
    color: #888;
}